/* General Styling */
home body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.light-theme {
    background-color: #f0f0f0;
    color: #000000;
}

body.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

/* Home Container Styling */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

/* Intro Text Styling */
.home-intro-text {
    width: 50%;
    text-align: left;
}

.home-hello-text {
    margin-top: 25%;
    font-size: 1.2em;
    color: teal;
    margin-left: 10%;
    margin-bottom: -23px;

}

.home-i-am-text {
    font-weight: 500;
    height: 10%;
    margin: 0;
    font-size: 3.5em;
    color: black;
    margin-bottom: -12px;
}

.home-text-hari {
    color: teal;
}

.home-text-sai {
    color: coral;
}

.home-short-description {
    color: coral;
    font-weight: 10;
    width: 140%;
    font-size: 1.1rem;
    line-height: 1.5;
    z-index: 2;
    padding: 4px;
    margin-bottom: 45px;
}

.home-typing-container {
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 100%;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 0;
}

.home-a-text {
    font-size: 2.6em;
    color: teal;
}

.home-typing-text {
    margin-top: 9px;
    font-size: 2.2em;
    margin-left: 10px;
    color: coral;
}

body.dark-theme .home-hello-text {
    color: coral;
}

body.dark-theme .home-i-am-text {
    color: white;
}

body.dark-theme .home-text-hari {
    color: coral;
}

body.dark-theme .home-text-sai {
    color: teal;
}

body.dark-theme .home-short-description {
    color: teal;
}

body.dark-theme .home-a-text {
    color: coral;
}

body.dark-theme .home-footer {
    color: coral;
}

body.dark-theme .home-typing-text {
    color: teal;
}

/* Action Buttons */
.home-icon-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    position: relative;
    align-items: left;
}

.home-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 6px;
    font-size: 1.2em;
    transition: all 0.3s ease;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 25px;
    width: 43px;
    height: 43px;
    box-shadow: 1px 0px 8px 3px rgba(255, 127, 80, 0.5);
    transform: translateZ(0);
}

.home-icon i {
    font-size: 2em;
    color: teal;
    transition: transform 0.3s ease, color 0.3s ease;
}

.home-icon span {
    position: absolute;
    left: 50px;
    opacity: 0;
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 0.9em;
    z-index: 1;
}

.home-icon:hover span {
    opacity: 1;
    transform: translateX(5px);
}

.home-icon:hover {
    transform: scale(1.2);
    z-index: 10;
}

.home-icon:hover~.home-icon {
    transform: translateX(60px);
}

.home-hari {
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 4px teal;
    font-weight: 600;
}


.home-footer {
    font-size: 0.9em;
    width: 90%;
    text-align: center;
    margin-bottom: -63px;
    color: teal;
}

/* Image Container */
.home-image-container {
    margin-left: 50%;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 1px 0px 8px 3px rgba(0, 0, 0, 0.3);
}

/* Continuous Laptop Emoji Vibration with 1 second pause */
.home-emoji {
    font-size: 70%;
    display: inline-block;
    animation: vibrate 0.3s ease-in-out 1s infinite;
    /* Adds a 1s pause before each vibration cycle */
    transform-origin: center;
}

@keyframes vibrate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

body.light-theme .home-image-container {
    box-shadow: 1px 0px 8px 3px rgba(9, 243, 243, 0.555);
}

body.dark-theme .home-image-container {
    box-shadow: 1px 0px 8px 3px rgba(255, 127, 80, 0.299);
}

.home-image-container:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.home-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 50px;
}

.home-imgcontainer {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    text-align: center;
}

/* Continue to about */
.home-continue-to-about {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    margin-right: -132px;
}

.home-continue-to-about p {
    font-size: 1rem;
    margin-left: 100px;
    color: teal;
    text-align: right;
}

.home-arrow-svg {
    margin-top: 11px;
    width: 30px;
    height: 30px;
    fill: coral;
    animation: home-moveRight 1s infinite;
    margin-left: 10px;
}

/* Animation for the arrow moving to the right */
@keyframes home-moveRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Responsive Design */
/* Small screens (mobile devices) */
@media screen and (max-width: 576px) {
    .home-container {
        padding: 20px;
        height: 100vh;
        width: 100%;
    }

    .home-content {
        margin-top:25%;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .home-intro-text {
        width: 100%;
        text-align: center;
    }

    .home-hello-text {
        font-size: 1.5em;
        margin-top: 3%;
        margin-left: 0;
    }

    .home-i-am-text {
        font-size: 3em;
    }

    .home-short-description {
        font-size: 1rem;
        margin-bottom: 20px;
        width: 103%;
        margin-left: -8px;
    }

    .home-typing-container {
        font-size: 1.1em;
        margin-top: 8%;
    }

    .home-typing-text {
        font-size: 1.8em;
    }

    .home-icon-container {
        margin-top: 10px;
        justify-content: center;
    }

    .home-icon {
        width: 35px;
        height: 35px;
    }

    .home-icon i {
        font-size: 1.5em;
    }

    .home-short-description p, b {
        font-size: 1em;
        margin:0;
    }

    .home-footer {
        bottom: 64px;
        position: fixed;
        font-size: 10px;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        margin-top:20px;
    }

    .home-image-container {
        width: 150px;
        height: 150px;
        margin-left: 25%;
    }

    .home-imgcontainer {
        margin-top: 4%;
        text-align: center;
    }

    .home-continue-to-about {
        font-size: 0.8em;
        margin-top: 162%;
        position: absolute;
        margin-left: 99px;
        width: 50%;
    }

    .home-continue-to-about p{
        font-size: 1em;
        margin-left: -13px;
    }

    .home-arrow-svg {
        margin-top:5px;
        width: 25px;
        height: 25px;
    }
}

/* Medium screens (tablet devices) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .home-container {
        padding: 20px;
        height: 100vh;
        width: 100%;
    }

    .home-content {
        margin-top:25%;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .home-intro-text {
        width: 100%;
        text-align: center;
    }

    .home-hello-text {
        font-size: 1.5em;
        margin-top: 3%;
        margin-left: 0;
    }

    .home-i-am-text {
        font-size: 3em;
    }

    .home-short-description {
        font-size: 1rem;
        margin-bottom: 20px;
        width: 103%;
        margin-left: -8px;
    }

    .home-typing-container {
        font-size: 1.1em;
        margin-top: 5%;
        width: 50%;
        margin-left: 24%;
    }

    .home-typing-text {
        font-size: 1.8em;
    }

    .home-icon-container {
        margin-top: 10px;
        justify-content: center;
    }

    .home-icon {
        width: 35px;
        height: 35px;
    }

    .home-icon i {
        font-size: 1.5em;
    }

    .home-short-description p, b {
        font-size: 1em;
        margin:0;
    }

    .home-footer {
        bottom: 64px;
        position: fixed;
        font-size: 11px;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        margin-top:20px;
    }

    .home-image-container {
        width: 150px;
        height: 150px;
        margin-left: 25%;
    }

    .home-imgcontainer {
        margin-top: 4%;
        text-align: center;
    }

    .home-continue-to-about {
        font-size: 0.8em;
        margin-top: 73%;
        position: absolute;
        margin-left: 99px;
        width: 50%;
    }

    .home-continue-to-about p{
        font-size: 1em;
        margin-left: -13px;
    }

    .home-arrow-svg {
        margin-top:5px;
        width: 25px;
        height: 25px;
    }
}

/* Large screens (laptop and smaller desktops) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Home Container Styling */
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        padding: 20px;
        margin-top:50px;
    }
    
    .home-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 1200px;
    }
    
    /* Intro Text Styling */
    .home-intro-text {
        width: 50%;
        text-align: left;
    }
    
    .home-hello-text {
        margin-top: 25%;
        font-size: 1.2em;
        color: teal;
        margin-left: 10%;
        margin-bottom: -23px;
    
    }
    
    .home-i-am-text {
        font-weight: 500;
        height: 10%;
        margin: 0;
        font-size: 3.5em;
        color: black;
        margin-bottom: -12px;
    }
    
    .home-text-hari {
        color: teal;
    }
    
    .home-text-sai {
        color: coral;
    }
    
    .home-short-description {
        color: coral;
        font-weight: 10;
        width: 140%;
        font-size: 1.1rem;
        line-height: 1.5;
        z-index: 2;
        padding: 4px;
        margin-bottom: 0px;
    }
    
    .home-typing-container {
        display: flex;
        align-items: center;
        margin: 15px 0;
        width: 100%;
        font-weight: 400;
        margin-left: 20px;
        margin-top: 0;
    }
    
    .home-a-text {
        font-size: 2.6em;
        color: teal;
    }
    
    .home-typing-text {
        margin-top: 9px;
        font-size: 2.2em;
        margin-left: 10px;
        color: coral;
    }
    /* Action Buttons */
    .home-icon-container {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        position: relative;
        align-items: left;
    }
    
    .home-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 6px;
        font-size: 1.2em;
        transition: all 0.3s ease;
        background-color: transparent;
        border-radius: 50%;
        margin-left: 25px;
        width: 43px;
        height: 43px;
        box-shadow: 1px 0px 8px 3px rgba(255, 127, 80, 0.5);
        transform: translateZ(0);
    }
    
    .home-icon i {
        font-size: 2em;
        color: teal;
        transition: transform 0.3s ease, color 0.3s ease;
    }
    
    .home-icon span {
        position: absolute;
        left: 50px;
        opacity: 0;
        padding: 0px 10px;
        background-color: rgba(0, 0, 0, 0.6);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        white-space: nowrap;
        transition: opacity 0.3s ease, transform 0.3s ease;
        font-size: 0.9em;
        z-index: 1;
    }
    
    .home-icon:hover span {
        opacity: 1;
        transform: translateX(5px);
    }
    
    .home-icon:hover {
        transform: scale(1.2);
        z-index: 10;
    }
    
    .home-icon:hover~.home-icon {
        transform: translateX(60px);
    }
    
    .home-hari {
        margin: 0;
        text-align: center;
        text-shadow: 1px 1px 4px teal;
        font-weight: 600;
    }
    
    
    .home-footer {
        font-size: 0.9em;
        width: 90%;
        text-align: center;
        bottom: 43px;
        color: teal;
        position: absolute;
    }
    
    /* Image Container */
    .home-image-container {
        margin-left: 50%;
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 1px 0px 8px 3px rgba(0, 0, 0, 0.3);
    }
    .home-image-container:hover {
        transform: scale(1.1);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
    }
    
    .home-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 50px;
    }
    
    .home-imgcontainer {
        margin-top: 6%;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        text-align: center;
    }
    
    /* Continue to about */
    .home-continue-to-about {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: 15px;
        cursor: pointer;
        position: relative;
        margin-right: -132px;
    }
    
    .home-continue-to-about p {
        font-size: 1rem;
        margin-left: 100px;
        color: teal;
        text-align: right;
    }
    
    .home-arrow-svg {
        margin-top: 11px;
        width: 30px;
        height: 30px;
        fill: coral;
        animation: home-moveRight 1s infinite;
        margin-left: 10px;
    }
}

/* Extra Large screens (larger laptops and desktops) */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .home-container {
        padding: 20px;
        height: 100vh;
        width: 100%;
    }

    .home-content {
        margin-top:25%;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .home-intro-text {
        width: 100%;
        text-align: center;
    }

    .home-hello-text {
        font-size: 1.5em;
        margin-top: 3%;
        margin-left: 0;
    }

    .home-i-am-text {
        font-size: 3em;
    }

    .home-short-description {
        font-size: 1rem;
        margin-bottom: 20px;
        width: 103%;
        margin-left: -8px;
    }

    .home-typing-container {
        font-size: 1.1em;
        margin-top: 5%;
        width: 50%;
        margin-left: 24%;
    }

    .home-typing-text {
        font-size: 1.8em;
    }

    .home-icon-container {
        margin-top: 10px;
        justify-content: center;
    }

    .home-icon {
        width: 35px;
        height: 35px;
    }

    .home-icon i {
        font-size: 1.5em;
    }

    .home-short-description p, b {
        font-size: 1em;
        margin:0;
    }

    .home-footer {
        bottom: 64px;
        position: fixed;
        font-size: 11px;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        margin-top:20px;
    }

    .home-image-container {
        width: 150px;
        height: 150px;
        margin-left: 25%;
    }

    .home-imgcontainer {
        margin-top: 4%;
        text-align: center;
    }

    .home-continue-to-about {
        font-size: 0.8em;
        margin-top: 73%;
        position: absolute;
        margin-left: 99px;
        width: 50%;
    }

    .home-continue-to-about p{
        font-size: 1em;
        margin-left: -13px;
    }

    .home-arrow-svg {
        margin-top:5px;
        width: 25px;
        height: 25px;
    }
}

